<html lang="en">
	<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <div class="banner"><img src="/img/img-home-banner.jpg" width="100%"></div>
	
	<div class="fondo">
		<h2 class="visita">Todos los productos</h2>
		<div class="row">
			
		<% for(let i=0;i<productos.length;i++) { %> 
				<section class="product-box">
					<div class="iconoenvio"><i class="fas fa-dolly"></i></div>
					<a href="/productos/detail/<%=productos[i].id %>">
						<figure class="product-box_image">
							<img src="/img/<%=productos[i].image %>" alt="imagen de producto">
						</figure>
						<ul class="product-box_data">
							<li class="precio">$<%=productos[i].price %> </li>
							<li class="descuento"><%=productos[i].discount %>% </li>
							<h3><%=productos[i].name %></h3>
						</ul>
					</a>
				</section>
			<% } %>
		</div>
	</div>

	<%- include('./../views/partials/footer') %>

	<div class="sub-footer">
		<div class="container">
	<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
	</div>
	</div>
</body>	
</html>