<html lang="en">
	<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <div class="banner"><img src="/img/img-home-banner.jpg" width="100%"></div>
	<!-- todos los productos -->
	<div class="fondo">
	
	<!-- Container -->
	<div class="formulario">
		<div class="">
			<div class="col-md-3">
				<h2>Hola <%=user.fullName %> </h2>
				<img src="/img/avatars/<%=user.avatar %> ">
				<br>
				<br>
				<div class="alert alert-success"><%=user.nombreUsuario %> </div>
				<div class="alert alert-success"><%=user.email %> </div>
				<div class="alert alert-success"><%=user.birthday %> </div>
				<%=user.rol %>
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<%- include('./../views/partials/footer') %>

	<div class="sub-footer">
		<div class="container">
	<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
	</div>
	</div>
	</div>
</body>
</html>