<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./../views/partials/header') %>
        <img src="/img/img-home-banner.jpg" class="banner">

        <form method="POST" action="/usuarios/register"  class="formulario" enctype="multipart/form-data">
            <h3>¡Registrate!</h3>
            <div class="control-formulario">
                <label class="form-label">Nombre Completo:</label>
                <input type="text" name="fullName" value="<%= locals.oldData ? oldData.fullName : null%>" class="form-input <%=locals.errors && errors.fullName ? 'is-invalid' : null %>" placeholder="Nombre y Apellido">
                <% if (locals.errors && errors.fullName) { %>
                    <div class="text-danger">
                        <%= errors.fullName.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="control-formulario">
                <label class="form-label">Nombre de usuario:</label>
                <input type="text" name="nombreUsuario" value="<%= locals.oldData ? oldData.nombreUsuario : null%>" class="form-input <%=locals.errors && errors.nombreUsuario ? 'is-invalid' : null %>" placeholder="Nombre de Usuario">
                <% if (locals.errors && errors.nombreUsuario) { %>
                    <div class="text-danger">
                        <%= errors.nombreUsuario.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="control-formulario">
                <label class="form-label">Dirección de email:</label>
                <input type="email" name="email" class="form-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null%>" placeholder="ejemplo@ejemplo.com">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="control-formulario">
                <label class="form-label">Fecha de Nacimiento:</label>
                <input type="date" name="birthday" value="<%= locals.oldData ? oldData.birthday : null%>" class="form-input <%= locals.errors && errors.birthday ? 'is-invalid' : null %>">
                <% if (locals.errors && errors.birthday) { %>
                    <div class="text-danger">
                        <%= errors.birthday.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="control-formulario">
                <label class="form-label">Foto de usuario:</label>
                <input type="file" name="avatar" >
                <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger">
                        <%= errors.avatar.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="control-formulario">
                 <label class="form-label">Contraseña:</label>
                 <input type="password" name="password" class="form-input <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Contraseña">
                 <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %> 
                    </div>
                <% } %>
            </div>
        
            <button type="submit" class="buy-now-button">Enviar</button>
            <button type="reset" class="buy-now-button">Borrar</button>
        </form>
<%- include('./../views/partials/footer') %>
<div class="sub-footer">
    <div class="container">
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</div>
    </body>
    </html>